<nav class="collapse navbar-collapse" id="myNavbar" role="navigation">
    <ul class="nav navbar-nav navbar menu">
        <li class="col-md-2 row" ng-mouseover="setActiveNavigation(1, 'over')" ng-click="setActiveNavigation(1, 'click')" ng-mouseleave="removeActiveNavigation(1)"><div></div><a href="#kitchens">Кухни</a></li>
        <li class="col-md-2" ng-mouseover="setActiveNavigation(2, 'over')" ng-click="setActiveNavigation(2, 'click')" ng-mouseleave="removeActiveNavigation(2)"><div></div><a href="#wardrobes">Шкафы-купе</a></li>
        <li class="col-md-2" ng-mouseover="setActiveNavigation(3, 'over')" ng-click="setActiveNavigation(3, 'click')" ng-mouseleave="removeActiveNavigation(3)"><div></div><a href="#childrens">Детские</a></li>
        <li class="col-md-2" ng-mouseover="setActiveNavigation(4, 'over')" ng-click="setActiveNavigation(4, 'click')" ng-mouseleave="removeActiveNavigation(4)"><div></div><a href="#slides">Горки и стенки</a></li>
        <li class="col-md-2" ng-mouseover="setActiveNavigation(5, 'over')" ng-click="setActiveNavigation(5, 'click')" ng-mouseleave="removeActiveNavigation(5)"><div></div><a href="#hallway">Прихожие</a></li>
        <li class="col-md-2" ng-mouseover="setActiveNavigation(6, 'over')" ng-click="setActiveNavigation(6, 'click')" ng-mouseleave="removeActiveNavigation(6)"><div></div><a href="#office">Офисная мебель</a></li>
    </ul>
</nav>