.mentions{
    background:  #f2f3f3;
    height: 1450px;
}

.mentions .text-head{
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    padding-top: 2%;
}

.mentions .line{
    background: #569e46;
    height: 3px;
}

.mentions > .line{
    width: 5%;
    margin: 0.5% auto 3% auto;
}

.mentions > ul > li > div > .line{
    width: 8%;
    margin: 7.5% auto -1% auto;
    float: left;
}

.mentions ul{
    width: 80%;
    margin: auto 10%;
}

.mentions li{
    margin-top: 4%;
    height: 403px;
    background: white;
}

.mentions iframe{
    padding-top: 2%;
    padding-left: 2%;
}

.mentions > ul > li > div{
    padding-top: 2%;
    padding-right: 2%;
}

.mentions.heart{

}

.mentions .wish-same{
    display: block;
    width: 35%;
    margin-left: 9%;
    border-bottom: 1px dashed black;
}

.mentions .kitchen-parameters{
    padding: 36px 0 140px;
}

.mentions .parameter{
    padding: 1% 0 1%;
}

@media (max-width: 1920px){
    .mentions img{
        margin-top: -9%;
    }

    .mentions .wish-same{
        width: 20%;
        margin-top: -8.5%;
    }
}

@media (max-width: 1680px){
    .mentions img{
        margin-top: -9%;
    }

    .mentions .wish-same{
        width: 22%;
        margin-top: -9.5%;
    }
}


@media (max-width: 1510px){
    .mentions img{
        margin-top: -9%;
    }

    .mentions .wish-same{
        width: 23%;
        margin-top: -9.5%;
    }
}

@media (max-width: 1485px){
    .mentions img{
        margin-top: -9%;
    }

    .mentions .wish-same{
        width: 27%;
        margin-top: -9.5%;
    }
}

@media (max-width: 1440px){
    .mentions img{
        margin-top: -9%;
    }

    .mentions .wish-same{
        width: 26%;
        margin-top: -9.5%;
    }
}

@media (max-width: 1366px){
    .mentions img{
        margin-top: -9%;
    }

    .mentions .wish-same{
        width: 27%;
        margin-top: -10.5%;
    }
}

@media (max-width: 1280px){
    .mentions img{
        margin-top: -9%;
    }

    .mentions .wish-same{
        width: 30%;
        margin-top: -10.5%;
    }
}

@media (max-width: 1258px){
    .mentions img{
        margin-top: -18%;
    }

    .mentions .wish-same{
        width: 30%;
        margin-top: -14.5%;
    }
}

@media (max-width: 1150px){
    .mentions img{
        margin-top: -22%;
    }

    .mentions .wish-same{
        width: 34%;
        margin-top: -17.5%;
    }
}

@media (max-width: 1024px){
    .mentions img{
        margin-top: -32%;
    }

    .mentions .wish-same{
        width: 35%;
        margin-top: -23.5%;
    }
}