.produce-image{
    width: 145%;
    margin-left: -125px;
}

.produce-text{
    position: absolute;
    margin: -36% 3%;
    color: white;
    padding-left: 10px;
    opacity: 5.5;
}

.produce-text > .text1{
    font-size: 55px;
    font-weight: 500;
}

.produce-text > .text2{
    font-size: 47px;
    font-weight: 200;
    position: absolute;
    margin-top: -0.7%;
}

.produce-text > .text3{
    font-size: 47px;
    font-weight: 200;
    position: absolute;
    margin-top: 4.5%;
}

.produce-text > .text1, .produce-text > .text2, .produce-text > .text3{
    padding-left: 14px;
    padding-right: 27px;
}

.produce-text > .text3 > .inner-bold-text{
    font-weight: 500;
}

.produce-menu{
    margin-top: -177px;
    margin-left: 60px;
    color: white;
}

.produce-menu > li:nth-child(1){
    width: 228px;
    font-size: 17px;
    font-weight: 100;
    text-align: left;
}

.produce-menu > li:nth-child(2){
    width: 210px;
    font-size: 17px;
    font-weight: 100;
    text-align: left;
}

.produce-menu > li:nth-child(3){
    width: 262px;
    font-size: 17px;
    font-weight: 100;
    text-align: left;
}

.produce-menu > li > img{
    padding-right: 10px;
}

@media (max-width: 1024px){
    .produce-menu{
        margin-top: -98px;
    }
}