.questions img{
    width: 117%;
    margin-left: -6%;
}

.questions-form{
    background: white;
    width: 30%;
    height: 52%;
    margin: -30% 67%;
    position: absolute;
    text-align: center;
}

.questions-form .text-head{
    font-size: 30px;
    padding-top: 5%;
    font-weight: 700;
    padding-bottom: 2%;
}

.questions-form .line{
    background: #569e46;
    height: 3px;
    width: 18%;
    margin: 0.5% auto 3% auto;
}

.questions-form .text{
    font-size: 13px;
    opacity: 0.7;
}

.questions-form .text > a{
    color: green;
    border-bottom: 1px dashed green;
}

.questions-form .send-questions{
    height: 32px;
    width: 197px;
    border-radius: 4px;
    border: 0px;
    background: #ffde55;
    font-weight: 600;
}

.questions-form ul{
    padding: 7px 71px 0px;
}

.questions-form ul li{
    padding: 5px 0;
    width: 100%;
    text-align: left;
}

.questions-form ul li input{
    width: 100%;
    height: 31px;
}

.questions-form ul li textarea{
    width: 100%;
    height: 90px;
    resize: none;
}

@media (max-width: 1920px){
    .questions-form{
        width: 30%;
        height: 49%;
        margin: -26% 67%;
    }
}

@media (max-width: 1680px){
    .questions-form{
        width: 30%;
        height: 46%;
        margin: -28% 67%;
    }
}

@media (max-width: 1440px){
    .questions-form{
        width: 30%;
        height: 44%;
        margin: -30% 67%;
    }
}

@media (max-width: 1280px){
    .questions-form .text-head{
        padding-top: 0;
    }

    .questions-form{
        width: 30%;
        height: 42%;
        margin: -30% 67%;
    }

}

@media (max-width: 1200px){
    .questions-form .text-head{
        padding-bottom: 0;
    }

    .questions-form .line{
        margin: 0 auto;
    }

    .questions-form{
        width: 30%;
        height: 40%;
        margin: -32% 67%;
    }

}

@media (max-width: 1100px){
    .questions-form ul li textarea{
        height: 60px;
    }

    .questions-form{
        width: 30%;
        height: 36%;
        margin: -31% 67%;
    }

}

@media (max-width: 1024px){
    .questions-form ul {
        padding: 7px 47px 0px;
    }
}